*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container{
    background-image:linear-gradient(rgba(33,12,92,0.8),rgba(46,46,62,0.8)),url(images/bj2.jpg);
    height: 100vh;
    width: 100%;
}

.form-body{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 450px;
    text-align: center;
    padding: 50px 60px 70px;

}

.form-body h1{
    font-size: 35px;
    position: relative;
    color: blueviolet;
    margin-bottom: 60px;
}

.form-body h1::after{
    content: '';
    width: 35px;
    height: 5px;
    background: blueviolet;
    position: absolute;
    border-radius: 3px;
    transform: translateX(-50%);
    left: 50%;
    bottom: -12px;
}

.input-group{
    height: 280px;
}

.self-input{
    background: #eaeaea;
    height: 60px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;

}
.self-input input{
    outline: 0;
    border: 0;
    background: transparent;
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    font-weight: 300;
}

.input-group p{
    text-align: left;
}

.input-group p a{
    color: blue;
}

.btn-filed{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-filed button{
    border-radius: 30px;
    border: 0;
    outline: 0;
    flex-basis: 40%;
    height: 40px;
    color: #eaeaea;
    background: #3c00a0;
    font-size: 15px;
    cursor: pointer;
}